# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
*.env*
.env.local

# OS
.DS_Store
Thumbs.db
# Credentials of oauth
credentials.json
# for my own purposes
*missing.txt
# Deploy and it's related file
deploy.*
*.sh
# Migrations (optional - uncomment if needed)
# */migrations/*.py
# !*/migrations/__init__.py
